.background {
  background-color: #171717;
  color: #EDEDED;
}

.surface {
  background-color: #444444;
  color: #EDEDED;
}

.navigation {
  background-color: #444444;
  color: #DA0037;
}

/*
  Considering to use these colors
  5B84F5
  EDDFB7
  7791D9
  6679AD
  455FA8
*/